@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');
body {
    display: grid;
    background-color: #661617;
}

.sheet {
    display: flex;
}

.b {
    background-color: grey;
    width: 100%;
    padding: 50px;
    font-family: 'Saira', sans-serif;
    color: white;
}

.a img {
    width: 200px;
    height: 175px;
}

.header {
    width: auto;
    height: 50px;
}

.mid {
    font-family: 'Saira', sans-serif;
    color: white;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.mid form {
    width: 100%;
}

.pic {
    padding: 10px;
    display: inline-block;
}

.pic img {
    margin-left: 10px;
    height: 250px;
}

.huli {
    border: 1px solid goldenrod;
    width: 100%;
    font-family: 'Saira', sans-serif;
    font-size: 14pt;
    color: white;
    display: grid;
    padding: 50px;
}

.nn {
    display: grid;
    width: 100%;
    height: 100px;
}

.nn textarea {
    resize: none;
}

.bttn {
    padding: 50px;
    display: grid;
    justify-content: end;
}

#pindot {
    width: 100px;
    height: 50px;
    font-family: 'Saira', sans-serif;
    font-size: 14pt;
}