@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');
body {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: white;
}

.sheet {
    display: flex;
}

.top {
    display: flex;
    background-color: #661617;
    width: 100%;
    height: 250px;
    padding: 40px;
    font-family: 'Saira', sans-serif;
    color: white;
}

p {
    font-size: 40pt;
}

.sulat {
    width: 100%;
}

.mid {
    width: 100%;
    padding: 5px;
}

.table {
    width: 100%;
    justify-self: center;
}

.btns {
    display: flex;
    width: 100%;
    justify-content: center;
}

.btns button {
    width: 400px;
    height: 60px;
    border-radius: 10px;
    margin: 20px 100px 20px 100px;
}

#b:hover {
    background-color: gray;
    border: solid 1px black;
}

#b {
    background-color: white;
    border: 1px solid black;
}

.last {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: grey;
}

.last a {
    color: white;
    text-decoration: none;
    font-size: 16;
    font-weight: bold;
    margin-right: 5%;
}

.last a:hover {
    color: black
}

@media only screen and (max-width:1200px) {
    body {
        width: 100%;
        height: 100vh;
        display: grid;
        background-color: #661617;
    }
    .sheet {
        display: flex;
    }
    .a img {
        width: 100px;
    }
    .b {
        background-color: grey;
        width: 100%;
        height: 150px;
        padding: 25px;
        font-family: 'Saira', sans-serif;
        color: white;
    }
    p {
        font-size: 20pt;
    }
}