@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');
body {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: #661617;
    padding: 10px;
}

.header {
    height: 200px;
    display: flex;
    padding: 10px;
}

.a {
    padding: 10px;
}

.a img {
    height: 150px;
}

.b {
    padding: 10px;
    font-family: 'Saira', sans-serif;
    color: white;
}

.mid {
    display: inline-block;
}

.carousel-inner {
    height: 350px
}

.btns {
    display: grid;
    width: 100%;
    justify-content: center;
}

.bttn {
    display: flex;
    width: auto;
    height: 100px;
    padding: 10px;
    justify-content: center;
}

.bttn button {
    width: 400px;
    height: 60px;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 200px;
    margin-right: 200px;
}

#b:hover {
    background-color: gray;
    border: solid 1px black;
}

#b {
    background-color: white;
    border: 1px solid black;
}

@media only screen and (max-width:1200px) {
    body {
        display: grid;
    }
    .header {
        display: flex;
        width: 100%;
        height: 100%;
    }
    .mid {
        display: inline-block;
        justify-content: center;
    }
    .btns {
        display: grid;
    }
}