@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');
body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    background-color: azure;
}

.kaliwa {
    background-color: #661617;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kaliwa img {
    width: 500px;
    height: auto;
}

form {
    display: flex;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.rect1 {
    height: 600px;
    width: 350px;
    position: absolute;
    background-color: #BFBABA;
    border-radius: 25px;
    z-index: 2;
    margin-right: -250px;
    margin-top: -100px;
}

.rect2 {
    height: 600px;
    width: 350px;
    position: absolute;
    background-color: #BFBABA;
    border-radius: 25px;
    z-index: 1;
    margin-left: -250px;
    margin-bottom: -100px;
}

.kanan {
    height: 600px;
    width: 350px;
    position: absolute;
    background-color: #661617;
    position: absolute;
    border-radius: 25px;
    z-index: 3;
}


/*ismol skren*/

@media only screen and (max-width:1200px) {
    body {
        display: grid;
        background-color: green;
    }
    .kanan {
        background-color: #661617;
    }
    .rect1 {
        display: none;
    }
    .rect2 {
        display: none;
    }
    .kaliwa img {
        width: 200px;
        height: auto;
    }
    .kaliwa {
        background-color: tomato;
        display: flex;
        justify-self: center;
        margin: 20px 0 20px 0;
    }
    form {
        justify-self: center;
        margin: 20px 0 20px 0;
    }
}