body {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.kaliwa1 {
    background-color: #661617;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kaliwa1 img {
    width: 500px;
    height: auto;
}

form {
    display: flex;
    width: 50%;
    height: 100vh;
    background-color: #C4C4C4;
    justify-content: center;
    align-items: center;
}

.right {
    display: grid;
    height: 600px;
    width: 600px;
    background-color: #C4C4C4;
    border-radius: 25px;
    padding: 15px;
}

.right input {
    border-radius: 25px;
}

.form-group input {
    height: 50px;
}

#pindot:hover {
    background-color: gray;
    border: solid 1px black;
}

#pindot {
    background-color: #661617;
    color: white;
}

h1 {
    justify-self: center;
}


/*ismol skren*/

@media only screen and (max-width:1200px) {
    body {
        display: grid;
        background-color: #C4C4C4;
    }
    .right {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: white;
    }
    .kaliwa1 img {
        width: 200px;
        height: auto;
        margin: 20px 0 20px 0;
    }
    .kaliwa1 {
        width: 100%;
        background-color: #661617;
        display: flex;
        justify-self: center;
        margin: 20px 0 20px 0;
    }
    form {
        width: 100%;
        justify-self: center;
        margin: 20px 0 20px 0;
    }
}