@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');
body {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #661617;
}

.sheet {
    width: 100%;
    display: flex;
}

.b {
    background-color: grey;
    width: 100%;
    padding: 50px;
    font-size: 24pt;
    font-family: 'Saira', sans-serif;
    color: white;
}

.a img {
    width: 200px;
    height: 175px;
}

.mid {
    font-family: 'Saira', sans-serif;
    color: white;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    padding: 50px;
}

.mid form {
    width: 100%;
}

.pic {
    padding: 50px;
    display: inline-block;
}

.huli {
    width: 100%;
    font-family: 'Saira', sans-serif;
    font-size: 14pt;
    color: white;
    display: grid;
    align-content: center;
    padding: 10px;
}

.nn {
    display: grid;
    height: 200px;
    padding: 5px;
}

.nn textarea {
    resize: none;
}

.chck {
    width: 100%;
}

.bttn {
    padding: 50px;
    display: flex;
    justify-content: end;
}

#pindot {
    width: 100px;
    height: 50px;
    font-family: 'Saira', sans-serif;
    font-size: 14pt;
    background-color: white;
    border: 1px solid black;
}

#cancel {
    width: 100px;
    height: 50px;
    font-family: 'Saira', sans-serif;
    font-size: 14pt;
    background-color: white;
    border: 1px solid black;
}

a {
    text-decoration: none;
    width: 100px;
    height: 50px;
    font-family: 'Saira', sans-serif;
    font-size: 14pt;
    background-color: white;
    border: 1px solid black;
    text-align: center;
    padding-top: 10px;
    color: black;
}

#pindot:hover {
    background-color: grey;
    color: white;
}

@media only screen and (max-width:1200px) {
    body {
        display: grid;
        width: 100%;
        height: 100vh;
    }
    .sheet {
        width: 100%;
        display: flex;
    }
    .a img {
        width: 150px;
        height: 150px;
    }
    .b {
        background-color: grey;
        width: 100%;
        font-size: 24pt;
        font-family: 'Saira', sans-serif;
        color: white;
    }
    .mid {
        display: grid;
    }
    .mid form {
        display: grid;
        width: 100%;
    }
    .huli {
        display: grid;
        width: 100%;
    }
    .nn {
        display: grid;
        width: 100%;
    }
}