body {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.logo {
    display: flex;
    height: 18vh;
    background-color: #661617
}

#pic {
    width: 10%;
    height: 18vh;
}

.tupc {
    background-color: rgb(95, 89, 89);
    width: 100%;
    display: flex;
    padding: 40px;
}

p {
    align-content: center;
    font-size: 36pt;
    color: white;
}

.title {
    width: 100%;
    height: 75vh;
    display: grid;
    color: black;
    font-size: large;
}

.tell {
    display: flex;
    width: 100%;
    justify-content: center;
}

.message {
    display: grid;
    width: 100%;
}

.row1 {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 80px;
}

input {
    width: 300px;
}

.txts {
    display: grid;
}

.cncrn {
    display: grid;
    width: 100%;
    justify-content: center;
}

.buttons {
    display: grid;
    margin-top: 20px;
    justify-content: center;
    row-gap: 5px;
}

a {
    justify-self: center;
    color: black;
}

a:hover,
a:active {
    color: red;
}

button {
    width: 250px;
    height: 40px;
    justify-self: end;
}

button:hover,
button:active {
    background-color: rgb(61, 58, 58);
    color: white;
}

@media only screen and (max-width:1000px) {
    body {
        width: 100%;
        height: 100vh;
        display: grid;
        background-color: white;
    }
    .logo {
        display: flex;
        height: 20vh;
    }
    #pic {
        width: 150px;
        height: 100px;
    }
    .tupc {
        background-color: rgb(95, 89, 89);
        width: 100%;
        color: white;
        display: grid;
        padding: 2px;
    }
    #nbsp {
        display: none;
    }
    p {
        font-size: 18pt;
        color: white;
    }
    .title {
        height: 75vh;
        color: black;
        justify-content: center;
    }
    form {
        display: grid;
        width: 100%;
    }
    .message {
        width: fit-content;
        display: grid;
    }
    .row1 {
        display: grid;
    }
}