@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');
body {
    width: 100%;
    height: 100vh;
    display: grid;
    background-color: #661617;
}

main {
    width: 100%;
    display: flex;
}

section {
    width: 95%;
    display: flex;
    padding: 0 50px 0 0;
}

.header {
    display: grid;
    padding: 10px;
    width: 25%;
    background-color: #363636;
    justify-content: center;
}

.bttn {
    display: grid;
    margin: 10px 0 0 0;
}

.aa {
    padding: 15px;
    align-items: center;
}

h3 {
    justify-self: center;
    padding: 10px 0 0 0;
    color: white;
}

.aa img {
    height: 150px;
}

.last {
    display: grid;
    position: absolute;
    bottom: 0;
    left: 0;
}

.b {
    font-family: 'Saira', sans-serif;
    color: white;
    padding: 10px;
}

.mid {
    width: 100%;
    display: grid;
    margin: 25px 0 25px 30px;
}

.carousel {
    height: 600px;
    width: 100%;
}

.carousel-item,
.carousel-inner {
    height: 550px;
    width: 100%;
    padding: 10px;
}

.carousel-item img {
    height: 550px;
    width: 100%;
}

#b:hover {
    background-color: gray;
    border: solid 1px black;
}

#b {
    background-color: white;
    border: 1px solid black;
}

a:link,
a:visited {
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    padding: 17px;
    margin: 10px 0 10px 0;
}

a:hover,
a:active {
    background-color: gray;
}

.last {
    display: flex;
}

#link {
    background-color: #363636;
    color: white;
}

#link img {
    height: 30px;
    margin: 0 5px 2px 0;
}

#link:hover,
#link:active {
    color: aqua;
}

.aside {
    justify-content: center;
    display: grid;
    font-family: 'Saira', sans-serif;
    font-size: 37pt;
    width: 7%;
    background-color: #c4c4c4;
    padding: 1px;
}

@media only screen and (max-width:1200px) {
    body {
        width: 100%;
        height: 100vh;
        display: grid;
        background-color: #661617;
    }
    main {
        width: 100%;
        display: flex;
    }
    section {
        border: #c4c4c4 solid 1px;
        width: 100%;
        display: flex;
    }
    .header {
        display: grid;
        width: 100%;
        background-color: transparent;
    }
    .carousel {
        height: 600px;
        width: 100%;
    }
    .carousel-item,
    .carousel-inner {
        height: auto;
        width: 100%;
    }
    .carousel-item img {
        height: 500px;
        width: 100%;
    }
    .aside {
        display: none;
    }
    .bttn {
        display: grid;
    }
    .mid {
        display: grid;
        width: 100%;
    }
    .aa img {
        height: 150px;
    }
    #link {
        display: none;
    }
}