@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');
body {
    display: flex;
    width: 100%;
    height: 100vh;
}

.kaliwa1 {
    background-color: #661617;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kaliwa1 img {
    width: 500px;
    height: auto;
}

form {
    display: flex;
    width: 50%;
    background-color: #C4C4C4;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.det {
    width: 100%;
}

.right {
    display: grid;
    width: 600px;
    height: 750px;
    background-color: #C4C4C4;
    font-family: 'Saira', sans-serif;
}

.right input {
    border-radius: 25px;
    width: 100%;
}

.form-group {
    width: 100%;
    height: 50px;
    font-family: 'Saira', sans-serif;
    font-size: 16pt;
}

#pindot:hover {
    background-color: gray;
    border: solid 1px black;
}

#pindot {
    background-color: #661617;
    color: white;
    justify-content: center;
}

#aaa {
    background-color: #C4C4C4;
    justify-content: center;
}

h1 {
    justify-self: center;
    margin: 0;
}

a {
    margin-top: 10px;
    justify-self: center;
    width: 100%;
}


/*ismol skren*/

@media only screen and (max-width:1200px) {
    body {
        display: grid;
        width: 100%;
        height: 100vh;
    }
    .right {
        width: 100%;
        position: relative;
        background-color: white;
        padding: 15px;
    }
    .kaliwa1 img {
        width: 200px;
        margin: 20px 0 20px 0;
    }
    .kaliwa1 {
        width: 100%;
        background-color: #661617;
        display: flex;
        justify-self: center;
    }
    form {
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}