@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');
body {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #661617;
}

.sheet {
    display: flex;
}

label {
    color: white;
}

p {
    font-size: 40pt;
}

.a img {
    width: 150px;
}

.middle {
    width: 100%;
    display: grid;
    padding: 10px;
}

.id {
    width: 200px;
}

form {
    display: grid;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    font-family: 'Saira', sans-serif;
    font-size: 24pt;
    justify-content: center;
}

.row1 {
    padding: 10px;
    justify-content: center;
    display: grid;
}

.b {
    background-color: grey;
    width: 100%;
    height: 150px;
    padding: 40px;
    font-family: 'Saira', sans-serif;
    color: white;
}

.last {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: grey;
}

.last {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: grey;
}

.last a {
    color: white;
    text-decoration: none;
    font-size: 16;
    font-weight: bold;
    margin-right: 5%;
}

.last a:hover {
    color: black
}

button {
    width: 250px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
}

#subbtn {
    width: 200px;
    height: 40px;
    font-size: 14pt;
}

#subbtn:hover,
#subbtn:active {
    background-color: white;
    color: black;
}

h3 {
    justify-self: center;
    color: white;
    font-family: 'Saira', sans-serif;
    font-size: 24pt;
}

.una {
    width: 100%;
    display: grid;
    font-family: 'Saira', sans-serif;
    font-size: 24pt;
    justify-content: center;
}

.aa {
    display: flex;
}

.column {
    display: grid;
    padding: 10px;
    justify-content: center;
}

.aaa {
    display: flex;
}

.column0 {
    display: grid;
    padding: 10px;
    justify-content: center;
}

.b {
    background-color: grey;
    width: 100%;
    height: 150px;
    padding: 40px;
    font-family: 'Saira', sans-serif;
    color: white;
}

.form-control {
    width: 250px;
}

@media only screen and (max-width:1200px) {
    body {
        display: grid;
        width: 100%;
        height: 100vh;
    }
    .sheet {
        width: 100%;
    }
    a {
        height: 25vh;
    }
    .middle {
        display: grid;
    }
    form {
        display: grid;
        justify-content: center;
    }
    .row {
        display: grid;
        justify-content: center;
    }
    .row1 {
        justify-content: center;
    }
    .aa {
        display: grid;
        justify-content: center;
    }
    .column {
        justify-content: center;
    }
    .aaa {
        display: grid;
        justify-content: center;
    }
    .id {
        justify-self: center;
    }
    p {
        font-size: 24pt;
    }
    label {
        font-size: 18pt;
    }
    .last {
        height: 15px;
        background-color: #661617;
        display: grid;
        align-self: center;
        justify-self: center;
    }
    .submit {
        justify-content: center;
    }
    .form-control {
        justify-content: center;
    }
}