@import url('https://fonts.googleapis.com/css2?family=Saira:wght@400;500;600;800&display=swap');
body {
    display: grid;
    width: 100%;
    height: 100vh;
    background-color: #661617;
}

.sheet {
    display: flex;
}

label {
    color: white;
}

p {
    font-size: 40pt;
}

.a img {
    width: 200px;
}

.middle {
    width: 100%;
    display: grid;
    padding: 10px;
}

form {
    display: flex;
    width: 100%;
}

.una {
    width: 100%;
    display: grid;
    font-family: 'Saira', sans-serif;
    font-size: 24pt;
}

.column {
    padding: 10px;
    justify-content: center;
}

.b {
    background-color: grey;
    width: 100%;
    height: 150px;
    padding: 40px;
    font-family: 'Saira', sans-serif;
    color: white;
}

.last {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: grey;
}

.last {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    background-color: grey;
}

.last a {
    color: white;
    text-decoration: none;
    font-size: 16;
    font-weight: bold;
    margin-right: 5%;
}

.last a:hover {
    color: black
}