body {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: azure;
}

.kaliwa {
    background-image: url(usg.png);
    background-color: #661617;
    width: 50%;
    background-repeat: no-repeat;
    background-size: 600px 600px;
    background-position-x: center;
    background-position-y: center;
}

.kanan {
    display: grid;
    width: 50%;
    background-color: white;
}