{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/homepage.css'%}">

</head>

<body>
    <main>
        <section>
    
            {% csrf_token %}
            <div class="header">
                <div>
                    <div class="aa">
                        <img src="{% static 'images/head.png'%}" alt="head">
                        {% for data in data %}
                        <h3>{{data.username}}</h3>
                        <h3>{{data.status}}</h3>
                        {% endfor %}
                    </div>
                    <div class="bttn">
                        <a id="b" href="{% url 'votingApp:voting'%}">VOTE CANDIDATES</a>
                        <a id="b" href="{% url 'votingApp:application'%}">FILE CANDIDACY</a>
                        <a id="b" href="{% url 'votingApp:result'%}">VIEW RESULTS</a>
                        <a id="b" href="{% url 'votingApp:index'%}">LOG OUT</a>
                    </div>
                    <div class="last">
                        <a id="link" href="https://m.facebook.com/775534235865942"><img src="{% static 'images/fblogo.png'%}" alt="logo">TUPC-USG FACEBOOK PAGE</a>
                    </div>
                </div>
            </div>

            <div class="mid">
                <div class="b">
                    <h1>WELCOME!</h1>
                    <h4>Great day TUPcian! Here are some announcements!</h4>
                </div>

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="{% static 'images/bill.png'%}" class="img-fluid d-inline-block" alt="aa">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/bill1.png'%}" class="img-fluid d-inline-block " alt="aa">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/bill2.png'%}" class="img-fluid d-inline-block " alt="aa">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/bill3.png'%}" class="img-fluid d-inline-block " alt="aa">
                        </div>
                        <div class="carousel-item">
                            <img src="{% static 'images/bill4.png'%}" class="img-fluid d-inline-block " alt="aa">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </button>
                </div>
    
        </section>

        <section class="aside">

            <p>T</p>
            <p>U</p>
            <p>P</p>
            <p>-</p>
            <p>C</p>
            <p>A</p>
            <p>V</p>
            <p>I</p>
            <p>T</p>
            <p>E</p>

        </section>


    </main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>


</body>


</html>