{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VOTING</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/next_voting.css'%}">
</head>

<body>
    <div class="sheet">
        <div class="a">
            <img src="{% static 'images/usg.png'%}" width="150px" height="150px">
        </div>
        <div class="b">
            <p> TUPC-USG VOTING </p>
        </div>
    </div>
    <div class="middle">
        <form method="POST">
            {% csrf_token %}
            <h3>SENATOR</h3>
            <div class="una">
                <div class="aa">
                    <div class="column">
                        <select class="form-control" name="senator1" id="senator1">
                        {% for sen1 in senator %}
                        <option value="{{ sen1.id}}">{{ sen1.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column">
                        <select class="form-control" name="senator2" id="senator2">
                        {% for sen2 in senator1 %}
                        <option value="{{ sen2.id}}">{{ sen2.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column">
                        <select class="form-control" name="senator3" id="senator3">
                        {% for sen3 in senator2 %}
                        <option value="{{ sen3.id}}">{{ sen3.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="aa">
                    <div class="column">
                        <select class="form-control" name="senator4" id="senator4">
                        {% for sen4 in senator3 %}
                        <option value="{{ sen4.id}}">{{ sen4.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column">
                        <select class="form-control" name="senator5" id="senator5">
                        {% for sen5 in senator4 %}
                        <option value="{{ sen5.id}}">{{ sen5.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            <h3>GOVERNORS</h3>
            <div class="una">
                <div class="aaa">
                    <div class="column0">
                        <select class="form-control" name="governor" id="governor">
                        {% for gov1 in governor %}
                        <option value="{{ gov1.id}}">{{ gov1.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor1" id="governor1">
                        {% for gov2 in governor1 %}
                        <option value="{{ gov2.id}}">{{ gov2.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        {% for gov3 in governor2 %}
                        <option value="{{ gov3.id}}">{{ gov3.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor3" id="governor3">
                        {% for gov4 in governor3 %}
                        <option value="{{ gov4.id}}">{{ gov4.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor4" id="governor4">
                        {% for gov5 in governor4 %}
                        <option value="{{ gov5.id}}">{{ gov5.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="aaa">
                    <div class="column0">
                        <select class="form-control" name="governor5" id="governor5">
                        {% for gov6 in governor5 %}
                        <option value="{{ gov6.id}}">{{ gov6.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor6" id="governor6">
                        {% for gov7 in governor6 %}
                        <option value="{{ gov7.id}}">{{ gov7.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor8" id="governor8">
                        {% for gov8 in governor7 %}
                        <option value="{{ gov8.id}}">{{ gov8.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        {% for gov9 in governor8 %}
                        <option value="{{ gov9.id}}">{{ gov9.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor7" id="governor7">
                        {% for gov0 in governor9 %}
                        <option value="{{ gov0.id}}">{{ gov0.name}}</option>
                        {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="submit">
                    <button id="subbtn">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
    <div class="last">
        <a id="b" href="{% url 'votingApp:homepage'%}">HOME</a>
        <a id="b" href="{%url 'votingApp:voting'%}">BACK</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>

</html>