<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/voting.css'%}">
</head>

<body>
    <div class="sheet">
        <div class="a">
            <img src="{% static 'images/usg.png'%}" width="150px" height="150px">
        </div>
        <div class="b">
            <p> TUPC-USG VOTING </p>
        </div>
    </div>
    <div class="middle">
        <form method="POST" action="/vote/">
            {%csrf_token%}
            <div>
                <input type="text">Type your ID: TUPC-XX-XXXX</input>
            </div>
            <div class="row">
                <div class="row1">
                    <label class="col-2 col-form-label" for="president">PRESIDENT</label>
                    <select class="form-control" name="president" id="president">
                        <option>--SELECT ONE--</option>
                        {% for o in option%}
                        <option>{{ o.name}} {{o.surname}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row1">
                    <label class="col-2 col-form-label" for="vice">VICE&nbsp;PRESIDENT</label>
                    <select class="form-control" name="vice" id="vice">
                        <option>--SELECT ONE--</option>
                        {% for o in option1%}
                        <option>{{ o.name}} {{o.surname}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row1">
                    <label class="col-2 col-form-label" for="secretary">SECRETARY</label>
                    <select class="form-control" name="secretary" id="secretary">
                        <option>--SELECT ONE--</option>
                        {% for o in option2%}
                        <option>{{ o.name}} {{o.surname}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="row1">
                    <label class="col-2 col-form-label" for="asec">SECRETARY</label>
                    <select class="form-control" name="asec" id="asec">
                        <option>--SELECT ONE--</option>
                        {% for o in option3%}
                        <option>{{ o.name}} {{o.surname}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row1">
                    <label class="col-2 col-form-label" for="treasurer">TREASURER</label>
                    <select class="form-control" name="treasurer" id="treasurer">
                        <option>--SELECT ONE--</option>
                        {% for o in option4%}
                        <option>{{ o.name}} {{o.surname}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="row1">
                    <label class="col-2 col-form-label" for="auditor">AUDITOR</label>
                    <select class="form-control" name="auditor" id="auditor">
                        <option>--SELECT ONE--</option>
                        {% for o in option5%}
                        <option>{{ o.name}} {{o.surname}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <h3>SENATOR</h3>
            <div class="una">
                <div class="aa">
                    <div class="column">
                        <select class="form-control" name="senator1" id="senator1">
                            <option>--SELECT ONE--</option>
                            {% for o in option6%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column">
                        <select class="form-control" name="senator2" id="senator2">
                            <option>--SELECT ONE--</option>
                            {% for o in option6%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column">
                        <select class="form-control" name="senator3" id="senator3">
                            <option>--SELECT ONE--</option>
                            {% for o in option6%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="aa">
                    <div class="column">
                        <select class="form-control" name="senator4" id="senator4">
                            <option>--SELECT ONE--</option>
                            {% for o in option6%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column">
                        <select class="form-control" name="senator5" id="senator5">
                            <option>--SELECT ONE--</option>
                            {% for o in option6%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            <h3>GOVERNORS</h3>
            <div class="una">
                <div class="aaa">
                    <div class="column0">
                        <select class="form-control" name="governor" id="governor">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor1" id="governor1">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor2" id="governor2">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor3" id="governor3">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor4" id="governor4">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="aaa">
                    <div class="column0">
                        <select class="form-control" name="governor5" id="governor5">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor6" id="governor6">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor7" id="governor7">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor8" id="governor8">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                    <div class="column0">
                        <select class="form-control" name="governor9" id="governor9">
                            <option>--SELECT ONE--</option>
                            {% for o in option7%}
                            <option>{{ o.name}} {{o.surname}}</option>
                            {% endfor %}
                    </select>
                    </div>
                </div>
                <div class="submit">
                    <button type="submit" id="subbtn">SUBMIT</button>
                </div>
            </div>
        </form>
    </div>
    <div class="last">
        <a id="b" href="{% url 'votingApp:homepage' %}">CANCEL</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>

</body>

</html>